/* Contenedor principal */
.wrapper {
    width: 80%;
    margin-top: 3vh;
    max-width: 300px;
    background-color: rgba(68, 124, 15, 0.139); /* Fondo semitransparente para resaltar sobre el #404040 */
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    box-sizing: border-box;
  }
  
  /* Título del login */
  .wrapper h1 {
    font-size: 32px;
    text-align: center;
    color: #fff; /* Texto blanco para buen contraste */
  }
  
  /* Caja de inputs */
  .wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  
  /* Inputs */
  .input-box input {
    width: 100%;
    height: 100%;
    background: rgba(231, 229, 229, 0.65);
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #0e0000ab;
    padding: 20px 45px 20px 20px;
  }
  
  /* Placeholder */
  .input-box input::placeholder {
    color: #000000b2;
  }
  
  /* Iconos dentro de la caja */
  .input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #2f0303;
  }
  
  /* Icono para toggle de contraseña */
  .password-toggle {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
  }
  
  /* Recordarme y enlace de olvidé contraseña */
  .wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: #fff;
  }
  
  .remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
  }
  
  .remember-forgot a {
    color: #fff;
    text-decoration: none;
  }
  
  .remember-forgot a:hover {
    text-decoration: underline;
  }
  
  /* Botón de envío */
  .wrapper button {
    width: 100%;
    height: 45px;
    background: #282b03d3;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #dadada;
    font-weight: 700;
  }
  
  /* Enlace para registrarse (opcional) */
  .wrapper .register-link {
    font-size: 15.5px;
    text-align: center;
    margin: 20px 0 15px;
  }
  
  .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .register-link p a:hover {
    text-decoration: underline;
  }
  