/* From Uiverse.io by Praashoo7 */ 
.cardNew {
   width: 420px; /*LA PROPORCION ES ENTRE 1.59 */
  height: 264px;
  perspective: 1000px;
  border-radius: 10px 10px 10px 10px;
 
  
}

.cardNew-inner {
  width: 420px;
  height: 264px;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
  border-radius: 10px 10px 10px 10px;
}

.cardNew:hover .cardNew-inner {
  transform: rotateY(180deg);
}

.cardNew-front,
.cardNew-back {
  position: absolute;
  width: 420px;
  height: 264px;
  perspective: 1000px;
  backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  font-size: small;
  font-weight: bolder;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.cardNew-front {
  background-image: url('./../img/cardFrontCNC.png'); /*cambiar imagen de la tarjeta*/
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
  width: 100%;
}

.cardNew-back {
  background-image: url('./../img/cardBackCNC.png'); /*cambiar imagen de la tarjeta*/
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}
