.body {
    font-family: 'Poppins', sans-serif; /* Corregir typo en `sanas-serif` */
    min-height: 100vh;
    /* background-image: #f40707 !important; */
    background: url('../img/backCNCblack.png') no-repeat center center;
    background-size: cover;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.create-customer-container {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(68, 124, 15, 0.139); /* Fondo semitransparente para resaltar sobre el #404040 */
   /* cambia color de la letra */ 
    color: #131212; 
    backdrop-filter: blur(20px);
        box-sizing: border-box;
}

.create-customer-container h1 {
    text-align: center;
    margin-bottom: 1rem;
}

/* Carnet preview container */
.carnet-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
}

/* Formulario styles */
.customer-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 0.5rem;
    /* cambia color del borde del input */
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e7e7e7;
    color: #000000;
}

.file-input input {
    padding: 0;
}

.preview-image {
    max-width: 150px;
    margin-top: 0.5rem;
}

.submit-btn {
    padding: 0.75rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #d8e126;
}

.button-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .clear-btn {
    padding: 0.75rem;
    background-color: #ff0800;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .clear-btn:hover {
    background-color: #d8e126;
  }

/* Responsive: en móviles forzamos que el contenedor y los cards se ajusten al ancho */
@media (max-width: 600px) {
    .create-customer-container {
        width: 100%;
        padding: 0.5rem;
    }
    .carnet-preview {
        flex-direction: column;
        align-items: center;
    }
}
